
@{ ViewData["Title"] = "Forum";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Forum</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <a asp-controller="ForumCategorys" asp-action="Create">Create New Category</a>
    </div>
</div>
